label{
  font-weight: 550 ;
  font-size:10px;
}
.mainform{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10px;
}
body{
  font-weight: 600px;
  background-color: rgba(28, 45, 22, 0.15)
}
.indent {
  margin-top: -0.11px;
  text-indent: 20px;
  color: #25578f;
}
.heading{
  text-align: center;
}
.submitbtn{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.savebtn{
  height:25px;
  width: 50px;
  background-color: #4695e9;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 700;
}